body { background-image: url("https://images.unsplash.com/photo-1489486501123-5c1af10d0be6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"); background-repeat: no-repeat; background-size: cover; }

.container { max-width: 1200px; width: 100%; margin: 0px auto; }

.board { margin-top: 5%; background: rgba(236, 240, 241, 0.9); min-height: 70vh; height: 100%; border-radius: 5px; padding: 20px; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; position: relative; }

.board header { border-radius: 5px; border: 2px solid #22a6b3; text-align: center; }

.board header h1 { font-family: 'Montserrat'; font-size: 30px; letter-spacing: 5px; font-weight: 300; color: #22a6b3; }

.board .column-container { margin-top: 30px; height: 100%; }

.board .column-container .column { margin: 20px; float: left; width: 300px; min-height: 200px; height: 100%; background: #ff7979; border-radius: 5px; padding: 20px; position: relative; }

.board .column-container .column .column-title { font-size: 20px; color: #fff; text-transform: uppercase; font-weight: 500; font-family: 'Pacifico', cursive; }

.board .column-container .column .btn-delete { background: transparent; border-radius: 50%; font-size: 18px; border: none; position: absolute; top: 2px; right: 2px; color: #fff; }

.board .column-container .column .add-card { background: transparent; border: none; color: #fff; font-size: 14px; letter-spacing: 2px; position: absolute; bottom: 20px; }

.board .column-container .column .add-card:hover { border: 1px solid #ecf0f1; border-radius: 3px; }

.board .column-container .column ul { list-style: none; min-height: 200px; height: auto; width: 100%; }

.board .column-container .column ul li { min-height: 40px; }

.board .column-container .column ul li:nth-child(even) { transform: rotate(3deg); }

.board .column-container .column ul li:nth-child(odd) { transform: rotate(-2deg); }

.board .column-container .column .card { width: 70%; min-height: 150px; background-color: #DBD6B0; box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7); padding: 20px; margin: 20px 0; font-family: 'Satisfy', cursive; font-size: 20px; letter-spacing: 5px; position: relative; }

.board .column-container .column .card .btn-delete { font-size: 26px; font-family: 'Satisfy', cursive; color: #000; }

.board .create-column { padding: 10px; border-radius: 5px; background: #22a6b3; color: #fff; width: 150px; border: none; position: absolute; right: 50px; top: 50px; transition: ease 1s; }

.board .create-column:hover { background: #ff7979; cursor: pointer; }
